.header {
    color: #fff;
    padding: 50px 0 85px 0;
    
    // style for page
    &__home {
        background: url("../../assets/backgrounds/homepage.png") no-repeat;
        background-size: cover;
        background-position: 65%, center;
        color: #fff;
        padding: 50px 0 200px 0;
        text-align: center;
    }
    &__coffee, &__goods {
        background-size: cover;
	    background-position: center, center;
        color: #fff;
    }
    &__coffee {
        background: url("../../assets/backgrounds/coffepage.png") no-repeat;
    }
    &__goods {
        background: url("../../assets/backgrounds/goodspage.png") no-repeat;
    }

    // style for elements
    &__wrapp {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 63px;
    }
    &__more {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }

    &__question {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 35px;
        margin-bottom: 30px;
        gap: 20px;
    }
    &__title {
        text-shadow: 0 4px 4px rgba(0,0,0,.25);
    }
    &__subtitle {
        font-weight: 700;
        text-shadow: 0 4px 4px rgba(0,0,0,.25);
    }
    &__button {
        position: relative;
        // text-decoration: none;
        color: #fff;
        font-size: 1.4rem;
        font-weight: 700;
        padding: 5px 42px;
        border: 1px solid #fff;
        border-radius: 3px;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        transition: all 0.4s ease-in;
        &::before {
            position: absolute;
            content: "";
            background-color: #fff;
            width: 100%;
            height: 0%;
            left: 0;
            bottom: 0;
            z-index: -1;
            transition: height 0.3s ease-in-out;
        }
    
        &:hover {
            color: #000;
    
            &::before {
                height: 100%;
            }
        }
    }
    
}

