//* ----- Header -----
.home-header {
	background: url("../../assets/backgrounds/homepage.png") no-repeat;
	background-size: cover;
	background-position: 65%, center;
	color: #fff;
	padding: 30px 0 200px 0;
	text-align: center;
}

.home-header .nav {
	margin-bottom: 50px;
}
