footer {
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 33px;
    @media(max-width: 768px) {
        & .nav {
            display: none;
        }
        &:first-child {
            display: none;
        }
    }
}